header {
    height: 75px;
}

.bloque_nuevo_nombre {
    display: block;
    position: inherit;
    top: 0;left: 0;
    margin-left: 12px;
}

.letrita {
    display: none;
}

#js_new_channel_name {
    width: 50%;
}

#js_new_channel_buton {
    width: 40%;
    height: 3em;
    white-space: normal;
}