body {
    background-image: url("textura1.jpg");
}

#mensajes {
    text-align: center;
}

#title {
    text-align: center;
    color: red;
}

#boton {
    text-align: center;
}

#campotexto {
    text-align: center;
}
